@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body #light {
  background-color: #9dc0bc;
  height: 100vh;
  background-size: cover;
  overflow-x: hidden;
}

body #dark {
  background-color: #320e3be1;
  overflow-x: hidden;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #9dc0bc;uy */
  font-family: "Plus Jakarta Sans", sans-serif;
}

.wrapper {
  width: 92%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#light .wrapper {
  color: #320e3b;
}

#dark .wrapper {
  color: white;
}

.content {
  margin: auto;
}

.wrapper input {
  width: 80%;
  height: 30px;
  border-radius: 5px 0 0 5px;
  padding: 5px 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border: 1px solid #320e3b;
}

#light .wrapper input {
  background-color: #9dc0bc;
  color: #320e3b;
}

#dark .wrapper input {
  background-color: #320e3bcd;
  color: #fff;
}

input:focus {
  outline: none;
}

.wrapper button {
  /* width: 80%; */
  padding: 5px 10px;
  height: 42px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #320e3b;
  background-color: #320e3b;
  color: #9dc0bc;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

#dark button {
  color: white;
}

h1 {
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  input {
    width: 70% !important;
  }
  button {
    width: 20%;
  }

  /* .auth-form .flex-it button {
    width: 30% !important;
  } */
  .auth-form {
    width: 80% !important;
    transform: translateX(-10px);
  }

  .btn-style {
    width: 30%;
  }

  .auth-form .btn-style {
    width: 107.5% !important;
  }
  .auth-form input {
    width: 100% !important;
  }
}

figcaption {
  /* position: fixed; */
  bottom: 0;
  right: 0;
  padding-bottom: 20px !important;
  padding-right: 20px !important;
  font-size: 12px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  height: 400px;
  width: 60%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.btn-style {
  padding: 5px 10px;
  height: 42px;
  border-radius: 5px !important;
  border: 1px solid #320e3b;
  background-color: #320e3b;
  color: #9dc0bc;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  justify-content: center;
  text-align: center;
  margin: auto;
  /* align-items: center; */
}

.auth-form input {
  height: 30px;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 10px;
  border: 1px solid #320e3b;
}

#light .auth-form input {
  background-color: #9dc0bc;
  color: #320e3b;
}
#dark .auth-form input {
  background-color: #320e3bcd;
  color: #9dc0bc;
}

.auth-form .btn-style {
  width: auto;
}

.btn-style {
  padding: 5px 10px;
  height: 42px;
  width: 90px;
  border-radius: 5px;
  border: 1px solid #320e3b;
  background-color: #320e3b;
  color: #9dc0bc;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
#light a {
  color: #320e3b;
}

#dark a {
  color: #9dc0bc;
}

#dark p {
  color: white;
}

.flex-it {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.flex-it input {
  border-radius: 5px 0 0 5px;
  border-right: none;
  width: 350px !important;
}
.flex-it button {
  border-radius: 0 5px 5px 0;
  border: 1px solid #320e3b;
  height: 42px;
  border-left: none;
  width: 55px;
  /* padding: 10px; */
  /* padding: 5px 10px; */
}

#light .flex-it button {
  background-color: #9dc0bc;
}
#dark .flex-it button {
  background-color: #320e3bcd;
}

#dark .flex-it button svg {
  fill: white;
}

button:focus {
  outline: none;
}

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#light .loading-spinner {
  border: 10px solid #4c2a85;
  border-top: 10px solid #9dc0bc;
}

#dark .loading-spinner {
  border: 10px solid #9dc0bc;
  border-top: 10px solid #320e3be1;
}
